#
# Nasqueron Discourse instance configuration
#

db_host = db
db_name = discourse

hostname = forum.nasqueron.org

smtp_address = discourse-notifications@forum.nasqueron.org
smtp_port = 587
smtp_domain = smtp.mandrillapp.com
smtp_user_name = %%credentials.1.username%%
smtp_password = %%credentials.1.password%%
smtp_enable_start_tls = true

load_mini_profiler = false
cdn_url =
developer_emails = %%credentials.1.username%%

redis_host = cache
